.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

.docker-cli-config/
*.baiduyun.uploading.cfg

prometheus_data/
grafana_data/
